<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.nahsshan.user.mapper.UserMapper">

    <resultMap id="BaseResultMap" type="com.nahsshan.user.common.entity.SysUser">
        <id column="user_id" jdbcType="INTEGER" property="userId" />
        <result column="username" jdbcType="VARCHAR" property="username" />
        <result column="password" jdbcType="VARCHAR" property="password" />
    </resultMap>

    <insert id="insert" parameterType="com.nahsshan.user.common.entity.SysUser">
        insert into `sys_user` (`username`, `password`) values (#{username}, #{password});
    </insert>

    <select id="getById" parameterType="java.lang.Long" resultMap="BaseResultMap">
        select user_id, username, password from `sys_user` where user_id = #{userId}
    </select>

    <select id="findList" resultMap="BaseResultMap">
        select user_id, username, password FROM `sys_user`
    </select>

</mapper>